<h2>ABOUT PAGE</h2>

<a href='{% url 'home' %}'>Home</a>

<br />

<p> This is about the first Site i created with Django called <b>Word Counter</b>.</p>
<h3>ADVERT BELOW</h3>

<h4>MyZubi 1Pc Strain Away Silicone Drain Catcher – Bathroom hair catcher/cove, Blue and Gray</h4>

         <p><b>Design:</b> star-shaped like starfish which are one of the most beautiful sea animals. Includes 5 suction cups on each edge to enable firm grip on the bathtub or sink floor with holes to prevent clogging.</p>


         <p><b>Material:</b> Silicone was used due to its water-resistant property, ability to withstand heating and freezing without leaching unlike plastics and form watertight seals. In addition, Silicone is highly durable and more environmentally friendly</p>


         <p><b>Application Variety:</b>Strain away can be used to prevent hair and debris from clogging the drain. Bathroom –  bathtubs, shower drains, bathroom sinks. </p>


         <p><b>Mobility:</b> Travel size (13 x 15.5cm) for essential packing, quick cleaning, and easy to move around the house.</p>


         <p><b>Swift Installation:</b> sAfter unboxing, simply attach suction cups over the existing bathtub/shower sink and push down on the edges until a firm hold is achieved. This will squeeze air into the suction cups for a firm grip while allowing water drain through the holes.</p>


         <p><b>Easy to Clean:</b> Slightly pull drain catcher from the edges (this is where the suction cups are located), dispose the trapped hair or particles and wash with running water. </p>


         <p><b>Affordability:</b> Very affordable 1Piece – you do not have to break the bank to take the Strain Away!</p>r
